body{
    background-color: #ffffff;
    color: #ffffff;
}

/*Header*/

header{
    width: 100%;
}
header h1{
    font-size: 6em;
    text-shadow: 3px 1px #ffffff;
    color: #333;
    font-family: "Impact";
    font-size: 80pt;
    text-shadow: 3px 1px #ffffff;
    background-color: #ccccb3;
    padding: 40px;
    text-align: center;
}