@font-face {
    font-family: 'Halloweek';
    src: url('Halloweek.woff2') format('woff2'),
        url('Halloweek.woff') format('woff'),
        url('Halloweek.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

