@font-face {
    font-family: 'Rockabye';
    src: url('Rockabye-Regular.woff2') format('woff2'),
        url('Rockabye-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'a Abstract Groovy';
    src: url('aAbstractGroovy.woff2') format('woff2'),
        url('aAbstractGroovy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

