body {
	display: grid;
	grid-template-columns: 70% auto;
	grid-template-rows: auto auto
}

div {
	border: thin solid black;
	margin: 1em;
}
h2 {
    text-align: center;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

progress {
	height:4em;
	width: 4em;
	transform: rotate(-90deg);
}

#slider {
	display: grid;
	grid-template-columns: auto auto;
}

h1 {
    text-align: center;
    color: black;
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
}