@font-face {
    font-family: "halloweek";
    src: url("halloweek.woff") format("woff");
}

.titel {
    font-family: halloweek, serif;
    font-size: 6em;
    text-align: center; 
    color: black;
}

body {
    background-color: #9d5900;
}

.start {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 2em;
    text-align: left;
}

h3 {
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    color: black;
}

.spielfeld_pc {
    margin-top: 50px;
	margin-bottom: 100px;
	background-color: #cacaca;
	height: 300px;
	width: 100%;
	margin-bottom: 100px;
}

.spielfeld_user {
	background-color: #cacaca;
	height: 300px;
	width: 100%;
	margin-bottom: 100px;
}

#play-area {
    text-align: center;
    padding-top: 50px;
    height: 125px;
}