.titel {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 6em;
    text-align: center;
}

#start {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
    text-align: center;
}

#passen {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    color: #fff;
}

body {
    background-color: burlywood;
    
}

.spielfeld_pc {
    margin-top: 50px;
	margin-bottom: 100px;
	background-color: #cacaca;
	height: 300px;
	width: 100%;
	margin-bottom: 100px;
}

.spielfeld_user {
    margin-top: 50px;
	margin-bottom: 100px;
	background-color: #cacaca;
	height: 300px;
	width: 100%;
	margin-bottom: 100px;
}

#play-area {
    padding: 80px 60px;
}

#stapel {
    background-color: #343434;
	width: 195px;
	height: 275px;
	color: white;
	float: right;
	margin-top: -130px;
	margin-bottom: 100px;
	margin-right: 10em;

}

#ablage {
    background-color: #640b0b;
	width: 195px;
	height: 275px;
	color: white;
	float: left;
    margin: 12px 10em;
    margin-top: -130px;

}
