.titel {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 6em;
    text-align: center;
}

#start {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
    text-align: center;
}

#passen {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    color: #fff;
}

body {
    background-color: burlywood;
    
}

.spielfeld_pc {
    margin-top: 50px;
	margin-bottom: 100px;
	background-color: #cacaca;
	height: 300px;
	width: 100%;
	margin-bottom: 100px;
}

.spielfeld_user {
    margin-top: 50px;
	margin-bottom: 100px;
	background-color: #cacaca;
	height: 300px;
	width: 100%;
	margin-bottom: 100px;
}

#play-area {
    padding: 60px 40px;
}