.titel {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 6em;
    text-align: center; 
    color: black;
}

body {
    background-color: #a7947c;
}

#passen {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 1em;
    text-align: left;
}

h3 {
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    color: black;
}

.spielfeld_pc {
    clear:both;
    background-color: #8c6f95;
    margin-left: 4.3%;
    padding: 10px;
    height: 190px;
    width: 90%;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}


.spielfeld_user {
    background-color: #9bdddd;
    height: 190px;
    width: 90%;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 4.3%;

}


#stapel {
    float:center;
    height: 150px;
    width:100px;
    background-color: #009999;
    border: 3px solid #b97242;
    border-radius: 11px;
    margin: 2%;
    margin-left: 4.3%;
}

#ablage {
    float: center;
    height: 150px;
    width:100px;
    background-color: #009999;
    border-radius: 11px;
    border: 3px solid #2c8d5d;
    margin: 2%;
}

