.titel {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 6em;
    text-align: center; 
    color: black;
}

body {
    background-color: #a7947c;
}

#passen {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 1em;
    text-align: left;
}

h3 {
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    color: black;
}

.spielfeld_pc {
    clear:both;
    background-color: #8c6f95;
    margin-left: 1.3%;
    padding: 10px;
    height: 190px;
    width: 89%;
    margin-left: 1%;
}


.spielfeld_user {
    background-color: #9bdddd;
    height: 190px;
    width: 90%;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 1.3%;

}


#stapel {
    float: left;
    height: 150px;
    width:100px;
    background-color: #009999;
    border: 3px solid #b97242;
    border-radius: 11px;
    margin: 2%;
    margin-left: 4.3%;
    position: absolute;
}

#ablage {
    float: left;
    height: 150px;
    width:100px;
    background-color: #009999;
    border-radius: 11px;
    border: 3px solid #2c8d5d;
    margin: 2%;
    position: absolute;
}


.card {
    float:left;
    width: 80px;
    height: 130px;
    border: 10px solid #ffffff;
    border-radius: 8px;
}
.backside img {
    width: 80px;
    height:130px;
    background-color: #47535c;
}

#player .card, #computer .card{
    margin-left: 1%;
}

#ablage .card, #stapel .card{
    position: absolute;
}

.blue {
    background-color: #0051ff;
}
.green {
    background-color: #4bc44b;
}
.red {
    background-color: #d13d49;
}
.yellow{
    background-color: #ecce25;
}

.card p{
    float:left;
}

.topleft{
    color: white;
    margin-top: -0.25em;
}
.topright{
    top: 0px;
    right:0px;
    color: white;
    margin-top: -0.25em;
    margin-left: 1.8em;
}
.middle{
    clear: both;
    background-color: #ffffff;
    border-radius: 100%;
    font-size: 2em;
    margin-left: 19.5%;
    margin-top: -0.45em;
}
.yellow .middle{
    color: #ecce25;
}
.blue .middle{
    color: #0051ff;
}
.red .middle{
    color:#d13d49;
}
.green .middle{
    color: #4bc44b;
}
.bottomleft{
    transform: rotate(180deg);
    color: #ffffff;
    margin-top: -1.9em;
}
.bottomright{
    transform: rotate(180deg);
    color: #ffffff;
    margin-left: 1.8em;
    margin-top: -1.9em;
}

#computer .cardtransition{
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    margin-top: 2em;
}