.titel {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 6em;
    text-align: center; 
    color: black;
}

body {
    background-color: #9d5900;
}

#passen {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 1em;
    text-align: left;
}

h3 {
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    color: black;
}

.spielfeld_pc {
    clear:both;
    background-color: #90ceca;
    margin-left: 4.3%;
    padding: 10px;
    height: 190px;
    width: 90%;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-right: 0.2em solid #3e8a8a;
    border-bottom: 0.2em solid #3e8a8a;
}


.spielfeld_user {
	background-color: #978968;
	height: 300px;
	width: 100%;
	margin-bottom: 100px;
}


#stapel {
    padding-top: 50px;
    height: 125px;
}

#ablage {
    background-color: black;
	width: 195px;
	height: 275px;
	color: white;
	float: left;
	margin: 5px 2em;

}
