body {
	display: grid;
	grid-template-columns: 40% auto;
    grid-template-rows: auto auto;
    color: black;
}

header {
	grid-column: span 2;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(56, 123, 161); 
}

div {
	border: thin solid white;
    margin: 1em;
    background-color: rgb(56, 123, 161);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    text-align: center;
    color: white;
}

progress {
	height:4em;
	width: 4em;
	transform: rotate(-90deg);
}

.reveal{ 
    opacity: 0;
    max-height: 0px;
    margin: 0;
    overflow: hidden;
}

input[type="checkbox"]:checked + label + .reveal{
    max-height: max-content;
    opacity: 1;
    overflow: visible;
}

fieldset {
    background-color: rgb(56, 123, 161);
    border: thin solid white;
}

legend {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
}