@font-face {
    font-family:"Harry Potter";
    src: url("font/HARRYP__.TTF");
    src:
    url("font/harryp__-webfont.woff") format("woff"),
    url("font/harryp__-webfont.woff2") format("woff2"),
    url("font/HARRYP__.TTF") format("ttf");
    }

body {
	display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 200px 400px;
    grid-gap: 10px;
    color: white;
    background-image: url(Potions.webp);
    height: 1400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
	grid-column: span 2;
    text-align: center;
    font-family: "Harry Potter";
    color: #d0b98f; 
    font-size: 2em;
}

div {
    border: thin solid white;
    border-radius: 25px;
    margin: 1em;
    background-color: #817667ab;
    font-family: "Harry Potter";
    font-size: 14pt;
}

h2 {
    text-align: center;
    color: white;
    font-family: "Harry Potter";
    font-size: 24pt;
}

p {
    font-size: 1,5em;
}

progress {
	height:4em;
	width: 4em;
	transform: rotate(-90deg);
}

.reveal{ 
    opacity: 0;
    max-height: 0px;
    margin: 0;
    overflow: hidden;
}

input[type="checkbox"]:checked + label + .reveal{
    max-height: max-content;
    opacity: 1;
    overflow: visible;
    border-radius: 15px;
}


legend {
    font-family: "Harry Potter";
    font-size: 16pt;
    color: white;
}

button {
    font-family: "Harry Potter";
    font-size: 14pt;
    border-radius: 15px;
    background-color: black;
    color: white;
}

fieldset {
    border: 2px thin solid white;
    border-radius: 25px;
}

#Anweisungen{
    display: grid;
	grid-template-columns: 40% auto;
}