@font-face {
    font-family: "halloweek";
    src: url("halloweek.woff") format("woff");
}

body {
    margin: 0;
    background-color: #9d5900;
}

.titel {
    color: black;
    font-family: halloweek, serif;
    font-weight: normal;
    text-align: center;
    font-size: 6em;
}

.spielkarte {
    background-color: black;
    width: 125px;
    height: 175px;
    justify-content: center;

}

.spieler {
    font-family: halloweek, serif;
    font-size: 3em;
    color: black;
    text-align: center;
}

.box {
    grid-template-columns: repeat(4, auto);
    display: grid;
    margin: 50px;
}

* {
    box-sizing: border-box;
}