@font-face {
    font-family: "halloweek";
    src: url("halloweek.woff") format("woff");
}

body {
    margin: 0;
    background-color: #9d5900;
}

.titel {
    color: black;
    font-family: halloweek, serif;
    font-weight: normal;
    text-align: center;
    font-size: 6em;
}

.spielkarte {
    background-color: black;
    height: 175px;
    width: 125px;
    text-align: center;

}

.container {
    display: grid;
    grid-template-columns: repeat(4 auto);
    grid-gap: 10px;
  
}
